

body {
    direction: rtl;
    margin: auto;
    font-family: 'Heebo';
    font-size: 16px;
    width: 1280px;
}

#container {
    margin: auto;
    background-position-y: 60px;
    background-image: url(../images/index/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 1280px, 756px;
}


.visually-hidden {
    background: white;
    height: 30px;
    right: 150px;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.visually-hidden:focus {
    transform: translateY(0%);
}


.first {
    margin-right: 100px;
    margin-top: 70px;
}

.firstGrapic {
    margin-right: 680px;
    margin-top: -180px;
}
.Trip .tripText {
    margin-right: 100px;
    margin-top: 150px;
}
.circleTitle {
    position: absolute;
    z-index: 1;
    font-size: 14px;
    width: 100px;
}
.title1 {
    margin-top: -150px;
    margin-right: 980px;
}
.title2 {
    margin-top: -250px;
    margin-right: 775px;
}
.title3 {
    margin-top: -50px;
    margin-right: 690px;
}
.title4 {
    position: absolute;
    top: 1330px;
    right: 460px;
}
.title5 {
    position: absolute;
    top: 1220px;
    right: 280px;
}
.circleOne, .overlay {
    position: absolute;
    margin-top: -200px;
    margin-right: 900px;
}

.circleTwo, .overlayPosTwo {
    position: absolute;
    margin-top: -300px;
    margin-right: 700px;
}
.circleTri, .overlayPosTri {
    position: absolute;
    margin-top: -90px;
    margin-right: 610px;
}
.circleFour, .overlayPosFour {
    position: absolute;
    top: 1300px;
    right: 380px;
}
.circleFive, .overlayPosFive {
    position: absolute;
    top: 1200px;
    right: 200px;
}
.overlay, .overlayPosTwo, .overlayPosTri, .overlayPosFour, .overlayPosFive {
    opacity: 0;
    transition: .5s ease;
}

.circleContiner:hover .overlay, .circleContiner:hover .overlayPosTwo, .circleContiner:hover .overlayPosTri, .circleContiner:hover .overlayPosFour, .circleContiner:hover .overlayPosFive {
    opacity: 1;
    z-index: 2;
}

.circleContiner:focus .overlay, .circleContiner:focus .overlayPosTwo, .circleContiner:focus .overlayPosTri, .circleContiner:focus .overlayPosFour, .circleContiner:focus .overlayPosFive {
    opacity: 1;
    z-index: 2;
    border-color: black;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}


.text {
    color: white;
    font-size: 12px;
    position: absolute;
width: 200px;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.circleHeder {
    font-size: 14px;
    font-weight: 700;
    text-decoration-line: underline;
}

.two_trip .tripText {
    position:absolute;
    right: 700px;
    top:1250px;
}
h1, h2 {
    font-weight: 700;
    font-family: 'Heebo';
    font-size: 26pt;
}
h3 {
    font-weight: 700;
    font-size: 16pt;
    font-family: 'Heebo';
}

p{
    font-family: 'Heebo';
    font-size: 16pt;
}


.vibeImage{
    margin-right: 400px;
    margin-top: 200px;
}








.natureImg {
    float: left;
    margin-left: 220px;
    margin-top: -250px;
}


a {
    text-decoration-line: none;
}
.info {
    margin-right: 100px;
    margin-top: 560px;
    display: inline-block;
    
}
.infoText {
    float: right;
    margin-right: 30px;
}
.tennis{
    position: relative;

    float: right;
}



div {
    font-family: 'Heebo';
    font-size: 16px;
}




header{
    margin-right: 70px;
}

.column h3 {
    font-family: 'Heebo';
    padding: 14px 16px 14px 36px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    background-color: #4666a6;
}

.navbar {
    overflow: hidden;
    background-image: linear-gradient(15deg, #778CE0 0%, #4666a6 100%);
    font-family: 'Heebo';
}

    .navbar a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
    }

.dropdown {
    float: right;
    overflow: hidden;
    font-family: 'Heebo';
}

    .dropdown .dropbtn {
        font-size: 14px;
        border: none;
        outline: none;
        color: white;
        padding: 30px 25px;
        background-color: inherit;
        font: inherit;
        margin: 0;
    }

    .dropdown:hover .dropbtn {
        background-color: #4666a6;
        color: white;
    }
    .dropdown:focus .dropbtn {
        background-color: #4666a6;
        color: white;
        border-color: black;
        outline-color: black;
        outline-style: solid;
        outline-width: 2px;
    }

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}



.dropdown:hover .dropdown-content {
    display: block;
    color: white;
}
.dropdown:focus .dropdown-content {
    display: block;
    color: white;
    border-color: black;
    outline-color: black;
    outline-style: solid;
    outline-width: 2px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: right;
    background-color: #778CE0;
    font-family: 'Heebo';
}

    .column a {
        float: none;
        color: white;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: right;
    }

        .column a:hover {
            background-color: #ddd;
            color: white;
            background-color: #4666a6;
        }
        .column a:focus {
            background-color: #ddd;
            color: white;
            background-color: #4666a6;
            border-color: black;
            outline-color: black;
            outline-style: solid;
            outline-width: 2px;
        }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}






.notActive {
    cursor: not-allowed;
    color: gray;
}
ul li {
    font-family: 'Heebo';
}
nav ol li {
    display: inline-block;
    font-family: 'Heebo';
    font-size: 16px;
    color:black;
}
nav ol {
    margin-top: 30px;
    margin-right: 100px;
}
nav ol li:after{
    content:">";
}
    nav ol li:last-child:after {
        content: "";
    }
a:link {
    color: black;
    text-decoration-line: none;
}
ol li a:hover, ol li a:focus {
    color: #4666a6;
    text-decoration-line: underline;
}
a:visited {
    color: black;
}


button:hover span, button:focus span {
    display: none
}

.firstBtn:hover:before, .firstBtn:focus:before {
    content: "לכל מסלולי הטיול"
}

button span {
    font-family: 'Heebo';
}
.buttenPerple {
    font-size: 16pt;
    background: #778CE0;
    color: white;
    padding: 10px 20px 10px 23px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 100px;
    outline: none;
    border: 0;
}
    .buttenPerple img{
        position:relative;
        top: 3px;
        right: 10px;
    }
    .buttenPerple::after {
        content: "";
        outline: none;
        border: 0;
        background: #5e77b6;
        position: absolute;
        z-index: -1;
        padding: 0.85em 0.75em;
        display: block;
    }

    .buttenPerple[class^="slide"]::after {
        transition: all 0.35s;
    }

    .buttenPerple[class^="slide"]:hover::after, .buttenPerple[class^="slide"]:focus::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.35s;
    }
    .buttenPerple[class^="slide"]:focus {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.35s;
        border-color: black;
        outline-color: black;
        outline-style: solid;
        outline-width: 2px;
    }
button.slide_from_right::after {
    top: 0;
    bottom: 0;
    left: 100%;
    right: -100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.underLineMotion {
    color: #4565a4;
    font-weight: 700;
    font-size: 16pt;
    font-family: 'Heebo';
    text-decoration-line: none;
    display: inline-block;
    background: linear-gradient(90deg, currentColor calc(100%/3), transparent 0 calc(200%/3), currentColor 0) var(--d, 0%) 100% /300% 2px no-repeat;
}

    .underLineMotion:hover, .underLineMotion:focus {
        --d: 100%;
        transition: 0.5s
    }

.footer {
    background-color: #4565a4;
    width: 100%;
    height: 150px;
    margin-top:53px;
}


.footerText {
    margin-right: 100px;
}

.footerBlock {
    color: white;
    margin-top: 40px;
    margin-left: 100px;
    float: right;
}

    .footerBlock a {
        font-size: 10pt;
        color: white;
        text-decoration-line: none;
        font-family: 'Heebo';
    }

        .footerBlock a:hover, .footerBlock a:focus {
            text-decoration-line: underline;
        }

    .footerBlock .title {
        font-size: 16pt;
        font-weight: 700;
    }

.footerEnd {
    position: relative;
    background-color: #778CE0;
    width: 100%;
    height: 17px;
    font-family: 'Heebo';
    font-size: 10pt;
    color: black;
    text-align: center;
    padding-top: 6px;
}
